header {
    width:100%;
    height:18vh;
    color:darkblue;
    font-size: 4vh;
    text-align:center;
    background-color:darkblue;
    background: rgba(247, 184, 31, 0.5);
    border:solid darkblue;
    font-family: "Comic Sans MS";

}
.gamelogo {
    float:left;
    width: 14%;
    height:99%;
    margin:-2.9% -15% 0 0;
    border:solid darkblue;
}

.game-area {
    width:82%;
    float:right;
    box-sizing:border-box;
    text-align:center;
    margin:-31% -5% 0 0;
}

.back {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
}
.stats {
    float:left;
}

body {
    background-image: url("images/adventure-time-wallpaper-4.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    padding-top:0;
    margin-top:0;
    perspective:1200px;
}

.statssidebar {
    color:darkblue;
    font-size:40px;
    border:solid darkblue;
    list-style-type:none;
    margin:0;
    background: rgba(247, 184, 31, 0.5);
    font-family: "Comic Sans MS"
}
.statsbar {
    margin: 7% 75% 0 0;
}
.games-played, .attempts, .accuracy {
    margin-top:10%;
}
.reset {
    font-size:40px;
    margin: 5% 0 5% 10%;
    color:#f7b81f;
    background-color:darkblue;
    font-family: "Comic Sans MS";
}
.navbar {
    font-size:20px;
    color:ghostwhite;
    list-style-type:none;
    display:inline-flex;
    margin:0;
    padding:0;
}
.play  {
    color:white;
    margin:3%;
}
.settings {
    color:white;
    margin:3%;
}
.about {
    color:white;
    margin:3%;
}
.front {
    width:100%;
    height:100%;
    position:absolute;
    transform: rotate3D(0,1,0,180deg);
    backface-visibility: hidden;
    left:0;
}
.frontimage, .backimage {
    width:100%;
    height:100%;
    background-color:white;
    margin:0;
    padding:0;
}
.card1 {
    margin-left:3%;
}

.card2 {
    margin-left: 0.5%;
}
.card3 {
    margin-left: 0.5%;
}
.card4 {
    margin-left: 0.5%;
}
.card5 {
    margin-left: 0.5%;
}
.card6 {
    margin-left: 0.5%;
}
.card7 {
    margin-top:0.5%;
    margin-left: 3%;
}
.card8 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card9 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card10 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card11 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card12 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card13 {
    margin-top:0.5%;
    margin-left: 3%;
}
.card14 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card15 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card16 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card17 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.card18 {
    margin-top:0.5%;
    margin-left: 0.5%;
}
.aboutbody {
    background-image: url("images/adventure-time-wallpaper-4.jpg");
    text-align:center;
    color:darkblue;
    font-size:20px;
    font-family: "Comic Sans MS";
    background-repeat:no-repeat;
}
.aboutdescription {
    margin-top:25%;
}
.flipcard {
    transform:rotateY(180deg);
    border:3px solid darkblue;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18 {
    transition-duration:1.25s;
    transform-style:preserve-3d;
    display:inline-block;
    float:left;
    width:13.66%;
    height:25vh;
    border:3px solid darkblue;
}
.card-flip {
    transform:rotate3D(0,1,0,180deg);
}


#victory h3 {
    color: black;
    font-family: "Comic Sans MS", serif;
}