header {
    width:100%;
    height:18vh;
    color:darkblue;
    font-size: 5vh;
    text-align:center;
    padding-bottom:1%;
    background-color:darkblue;
    background: rgba(247, 184, 31, 0.5);
    border:solid darkblue;
    font-family: "Comic Sans MS";

}
.gamelogo {
    float:left;
    width: 14%;
    height:110%;
    margin:-3.5% -15% 0 0;
    border:solid darkblue;
}

.game-area {
    width:70vw;
    float:right;
    box-sizing:border-box;
    text-align:center;
    margin-top:-26%;
    padding-right:5%;

}
.card  {
    display:inline-block;
    max-width:17%;
    margin:0 -5% 1% 3%;


}
.back {
    float:left;

}
.stats {
    float:left;

}

body {
    background-image: url("images/AdventureTime.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    padding-top:0;
    margin-top:0;
}
.backimage {
    width:50%;
    height:100%;
    border:solid blue;

}
.statssidebar {
    color:darkblue;
    font-size:40px;
    border:solid darkblue;
    list-style-type:none;
    margin:0;
    background: rgba(247, 184, 31, 0.5);
    font-family: "Comic Sans MS"
}
.statsbar {
    margin: 7% 75% 0 0;
}
.games-played {
    margin-top:10%;
}
.attempts {
    margin-top:10%;
}
.accuracy {
    margin-top:10%;
}
.reset {
    font-size:40px;
    margin: 5% 0 5% 10%;
    color:#f7b81f;
    background-color:darkblue;
    font-family: "Comic Sans MS";
}
.navbar {
    font-size:20px;
    color:ghostwhite;
    list-style-type:none;
    display:inline-flex;
    margin:0;
    padding:0;

}
.play  {
    color:white;
    margin:3%;
}
.settings {
    color:white;
    margin:3%;
}
.about {
    color:white;
    margin:3%;
}
.front {
    float:left;
}
.frontimage {
    width:50%;
    height:100%;
    border:solid blue;
    background-color:white;
    display:inline-block;
    margin:0 -5% 1% 3%;
}

